---
import { Image } from "astro:assets";
import SimpleGallery from './SimpleGallery.jsx';
import { getAlbumImages } from "@/lib/albums.astro";

const { album } = Astro.props;

const images = await getAlbumImages(album);

---

<div style="display:none;">
  {images.map((image, index) => (
    <Image
      key={index}
      src={image}
      alt={`Image ${index}`}
      format={'avif'}
      quality={50}
      class="hidden"
    />
  ))}
</div>

<SimpleGallery
  galleryID={album}
  images={images.map((image) => ({
    largeURL: image.src,
    thumbnailURL: image.src,
    width: image.width,
    height: image.height,
  }))}
  client:load
/>
